<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
    <!-- We can use link tag to access style file(also any other static files), only if we can access the directory via GET request(url) -->
    <!-- Express make it impossible basically, so we can notice which directory can be accessed -->
    <link rel="stylesheet" href="/styles.css">
</head>